body{
  background: gray;
}

#content{
  width: 400px;
  background: cyan;
  padding: 200px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 18px;
  margin: 0 auto;
  color: white;

  max-height: 270px;
  overflow: hidden;
}